<header class="flex justify-between items-center py-3 w-[1120px]">
  <img
    class="rounded-full w-12 h-12"
    src="https://i1.sndcdn.com/avatars-000007484139-w5fods-t500x500.jpg"
    alt="gabri photo"
  />

  <nav class="flex flex-row gap-x-10">
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </nav>
</header>
